<a href="https://colab.research.google.com/github/Mahal09/Python/blob/main/Project_Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# Import libraries for data manipulation
import numpy as np
import pandas as pd

# Import libraries for data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Command to tell Python to actually display the graphs
%matplotlib inline

pd.set_option('display.float_format', lambda x: '%.2f' % x) # To supress numerical display in scientific notations

In [5]:
# Installing the libraries with the specified version.
!pip install numpy==1.25.2 pandas==1.5.3 matplotlib==3.7.1 seaborn==0.13.1 -q --user

In [7]:
# Write your code here to read the data
df =pd.read_csv('/content/foodhub_order.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Write your code here to view the first 5 rows
df.head()

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24

In [ ]:
df.shape

(1898, 9)

In [ ]:
#Question 1: How many rows and columns are present in the data? [0.5 mark]
# Check the shape of the dataset
df.shape ## Fill in the blank

(1898, 9)

In [ ]:
#Question 2: What are the datatypes of the different columns in the dataset? [0.5 mark]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               1898 non-null   int64
 1   customer_id            1898 non-null   int64
 2   restaurant_name        1898 non-null   object
 3   cuisine_type           1898 non-null   object
 4   cost_of_the_order      1898 non-null   float64
 5   day_of_the_week        1898 non-null   object
 6   rating                 1898 non-null   object
 7   food_preparation_time  1898 non-null   int64
 8   delivery_time          1898 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 133.6+ KB

In [ ]:
#Question 3: Are there any missing values in the data? If yes, treat them using an appropriate method. [1 mark]
df.isnull().sum()

order_id                 0
customer_id              0
restaurant_name          0
cuisine_type             0
cost_of_the_order        0
day_of_the_week          0
rating                   0
food_preparation_time    0
delivery_time            0
dtype: int64

In [8]:
#Question 4: Check the statistical summary of the data. What is the minimum, average, and maximum time it takes for food to be prepared once an order is placed? [2 marks]
df['food_preparation_time'].describe()

count   1898.00
mean      27.37
std        4.63
min       20.00
25%       23.00
50%       27.00
75%       31.00
max       35.00
Name: food_preparation_time, dtype: float64

In [16]:
'''Question 4: Check the statistical summary of the data.
  What is the minimum, average, and maximum time it takes for food to be prepared once an order is placed? [2 marks]

 TRIED ANOTHER METHOD USING PYTHON,'''

min_order =df['food_preparation_time'].min()
avg_order =df['food_preparation_time'].mean()
max_order =df['food_preparation_time'].max()
print(f'The minimum time it takes for the food to be prepared is {min_order} mintues')
print(f'The average time it takes for the food to be prepared is {avg_order} minutes')
print(f'The Maximum time it takes for the food to be  prepared is {max_order} minutes')

The minimum time it takes for the food to be prepared is 20 mintues
The average time it takes for the food to be prepared is 27.371970495258168 minutes
The Maximum time it takes for the food to be  prepared is 35 minutes

In [15]:
# Question 5: How many orders are not rated? [1 mark]
df['rating'].value_counts()

rating
Not given    736
5            588
4            386
3            188
Name: count, dtype: int64

In [23]:
#Question 7: Which are the top 5 restaurants in terms of the number of orders received? [1 mark]

df['restaurant_name'].value_counts().head(5)

restaurant_name
Shake Shack                  219
The Meatball Shop            132
Blue Ribbon Sushi            119
Blue Ribbon Fried Chicken     96
Parm                          68
Name: count, dtype: int64